---
import BaseLayout from 'layouts/BaseLayout.astro'
import { Button } from 'components/Button'
import Input from 'components/Input.astro'
import Heading from 'components/Heading.astro'
import Form from 'components/Form.astro'

const title = 'Create a room'
---

<BaseLayout title={title}>
  <Form action="/rooms/store">
    <Heading slot="title">{title}</Heading>
    <Input id="ownerName" name="ownerName" placeholder="Participant name" />
    <Button>Let's go!</Button>
  </Form>
</BaseLayout>
