---
import BaseLayout from 'layouts/BaseLayout.astro'
import { Button } from 'components/Button'
import Input from 'components/Input.astro'
import Container from 'components/Container.astro'
import Heading from 'components/Heading.astro'

const title = 'Create a room'
---

<BaseLayout title={title}>
  <Container class="w-96">
    <form action="/rooms/store" method="POST">
      <Heading>{title}</Heading>
      <div class="mt-8 flex flex-col space-y-2">
        <Input id="ownerName" name="ownerName" placeholder="Participant name" />
        <Button>Let's go!</Button>
      </div>
    </form>
  </Container>
</BaseLayout>
